
@charset "utf-8";
body {
	background-image:url(http://sixdots.github.io/200.gif);
	font-family:Microsoft YaHei;
}/* CSS Document */

a:link {
	text-decoration:none;
	color:#FFF;
	}		/* 未被访问的链接 */
a:visited {
	text-decoration:none;
	color:#fff;
	}	    /* 已被访问的链接 */
a:hover {
	text-decoration:over-line;
	color:#0FF;
	}	    /* 鼠标指针移动到链接上 */
a:active {
	text-decoration:none;
	color:#FF0;
	}	    /* 激活 */
#box_left {
	text-align: center;
	font-size: 14px;
	line-height: 50px;
	width: 200px;
    height: 300px;
    background: #F06;
	position: absolute;
    left: 800px;
    top: 100px;
}          /* 左矩形 */
#box_right {
	font-size: 36px;
	position: absolute;
	left: 40px;
	top: 60px;
}
