@charset "utf-8";

.title {
	margin: 30px auto auto 60px;
}

a {
	color: #CCC;
	font-size: 35px;
	font-family: Verdana, Geneva, sans-serif,Microsoft YaHei;
}
a:link {
	text-decoration: none;
}
a:visited {
	color: #CCC;
}
a:hover {
	color: #333;
	text-decoration: none;
}
a:active {
	color: #333;
}

	/* CSS Document */
