@charset "utf-8";
body {
	font-size: 18px;
}

.title a {
	margin: 30px auto auto 60px;
	color: #CCC;
	font-size: 35px;
	font-family: Verdana, Geneva, sans-serif,Microsoft YaHei;
}

a:link {
	text-decoration: none;
}
a:visited {
	color: #CCC;
}
a:hover {
	color: #333;
	text-decoration: none;
}
a:active {
	color: #333;
}
